<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-bug"> </i> ISSUE TRACKER</a>


    <% if( !detailPage ) {%>
      <a href="/addProject">
        <button type="button" class="btn btn-secondary">Add Project</button>
      </a>
      <% } else{%>
        <a href="/addIssue/<%= project.id %> ">
          <button type="button" class="btn btn-info">Add Issue</button>
        </a>
        <% } %> 

  </div>
</nav>
