<%- include('includes/header.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <main class="addProjectForm">
        <h1 class="heading">Add Project</h1>
        <form action="/addProject" method="post">
          <div class="mb-3">
            <label class="form-label" for="projectName">Project Name</label>
            <input class="form-control" type="text" name="projectName" id="projectName">
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" name="description" id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="authorName">Author Name</label>
            <input class="form-control" type="text" name="authorName" id="authorName">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add New Project</button>
          </div>
        </form>



      </main>
  </body>

  </html>
